# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories (common for CMake and Makefiles)
build/
cmake-build-debug/
dist/

# Debugging files
*.dSYM/
*.stackdump

# Makefile backup
Makefile~
CMakeCache.txt
CMakeFiles/

# IDE & Editor-specific files
.vscode/
.idea/
*.code-workspace

# Logs and temp files
*.log
*.tmp
*.swp
*.swo
